{% extends "chatbot/layout.html" %}

{% block content %}
<div>
    
</div>
<div class="d-flex">
    
    {% if user.is_authenticated  %}
    <h1 class='align-text-center' >Happy to see you again {{ user.username }} !!!</h1>     
    <a href="{% url 'main'%}"><button class="btn btn-success">Get Started ...</button></a>     

                  
    {% else %}
    <h1 class="center">
        Welcome to Chat Bot !
    </h1>
    <a href="{% url 'login' %}"><button class="btn btn-primary">Login</button></a>
    <span>Or</span>
    <a href="{% url 'register' %}"><button class="btn btn-primary">Register</button></a>   
        
                    
    {% endif %}

</div>
{% endblock content %} 